body {
    font-family: 'Poppins', sans-serif;
    background-color: #ADD8E6; /* Jasny niebieski */
    margin: 0;
    padding: 0;
    color: #333333;
    
}

header {
    background-color: #87CEEB; /* Niebieski */
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.menu-item {
    margin: 0 15px;
}

.menu-item a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

.menu-item a:hover {
    background-color: white;
    color: #87CEEB;
}

.settings {
    margin-left: auto;
}


main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.column {
    flex: 0 0 auto;
}

#notes-column {
    width: 20%;
}

#advice-column {
    width: 50%;
    text-align: center;
}

#plan-column {
    width: 20%;
}

textarea {
    width: 100%;
    height: 200px;
    margin-top: 10px;
    padding: 10px;
}

.advice-box {
    width: 100%;
    height: 700px;
    background-color: white;
    border: 1px solid #87CEEB;
    margin-top: 10px;
}

footer {
    background-color: #87CEFA;
    color: white;
    text-align: right;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
